name: Upload Python Package

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build setuptools cython numpy setuptools_scm
    - name: Build package
      run: python -m build -s
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
